<h1>The <%=@test_passage.test.title %> Test was Completed!</h1>

<% if @test_passage.success? %>
  <p>Congratulations! Test passed! </p>
  <p>You result: <span class="success"><%= @test_passage.total_result %>%</p>
<% else %>
  <p>Test failed</p>
  <p>You result: <span class="fail"><%= @test_passage.total_result %>%</p>
<% end %>

<%= link_to 'All Tests', tests_path %>
