<footer class="footer">
  <div class="conteiner">
    <p><%= current_year %> год</p>
    <p>Автор: Жорова Анастасия, проект TestGuru <%= github_url('jnastya', 'test-guru') %></p>
    <p>Учебный проект в онлайн-школе <a href="http://thinknetica.com/" target= "_blank">Thinknetica</a></p>
  </div>
</footer>
