<h1>All Tests</h1>

<p>
  <%= link_to 'New test', new_test_path %>
</p>

<table>
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th>Questions count</th>
    <th>Category</th>
    <th>Author</th>
    <th colspan = "4">Actions</th>
  </tr>

  <%= render @tests %>
</table>
